USE [YardeCart]
GO
/****** Object:  Table [dbo].[State]    Script Date: 07/09/2013 19:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[State](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[State] ON
INSERT [dbo].[State] ([StateId], [StateName]) VALUES (1, N'Alabama')
INSERT [dbo].[State] ([StateId], [StateName]) VALUES (2, N'Alaska')
INSERT [dbo].[State] ([StateId], [StateName]) VALUES (3, N'Arizona')
SET IDENTITY_INSERT [dbo].[State] OFF
/****** Object:  Table [dbo].[Country]    Script Date: 07/09/2013 19:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON
INSERT [dbo].[Country] ([CountryId], [CountryName]) VALUES (1, N'Afghanistan')
INSERT [dbo].[Country] ([CountryId], [CountryName]) VALUES (2, N'Akrotiri')
INSERT [dbo].[Country] ([CountryId], [CountryName]) VALUES (3, N'Albania')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[Country] OFF
/****** Object:  Table [dbo].[City]    Script Date: 07/09/2013 19:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON
INSERT [dbo].[City] ([CityId], [CityName]) VALUES (1, N'auburn				')
INSERT [dbo].[City] ([CityId], [CityName]) VALUES (2, N'birmingham                      ')
INSERT [dbo].[City] ([CityId], [CityName]) VALUES (3, N'dothan                          ')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[City] OFF
/****** Object:  Table [dbo].[Category]    Script Date: 07/09/2013 19:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](100) NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[CreatedBy] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [CreatedOn], [CreatedBy]) VALUES (1, N'appliances', CAST(0xA1F304F9 AS SmallDateTime), 1)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [CreatedOn], [CreatedBy]) VALUES (2, N'antiques', CAST(0xA1F304F9 AS SmallDateTime), 1)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [CreatedOn], [CreatedBy]) VALUES (3, N'barter', CAST(0xA1F304F9 AS SmallDateTime), 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
